/* header */
header {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 3rem !important;
}

h1.headerName {
  padding-left: 130px;
}

form {
  margin-top: 50px;
}

/* header 버튼 */
button.search-btn {
  border: none;
  border-radius: 10px;
  background-color: #0063e5;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em 0.4em;
  font-weight: bold;
  min-height: 3rem;
}

button.search-btn:hover {
  background-color: #0682f0;
  transition: all 0.2s ease 0s;
}
.main-return {
  cursor: pointer;
}

.search-input {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  border: 1.5px solid;
  margin: 0.5rem;
  outline: none;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.6);
}

input::placeholder {
  color: black;
  font-size: 16px;
}

.search-input:hover {
  border: 1.5px solid hsla(0, 0%, 50%);
  box-shadow: 0 0 0.2rem 0.2rem hsla(0, 0%, 50%, 0.6);
}

/* 영화소개 */
.movieContainer {
  width: 70%;
  margin: auto;
}

.movieDetail {
  display: flex;
  margin-top: 20px;
}

.movieImage {
  width: 300px;
  height: 450px;
}

.movieDetailDetail {
  margin-left: 30px;
}

.movieTitle {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.movieTitle2 {
  margin-bottom: 40px;
  font-size: x-large;
  font-weight: bold;
}

.movieOpen {
  font-size: large;
  margin-bottom: 40px;
}

.movieVote {
  font-size: large;
}

/* 영화줄거리 */
.moviePlot {
  margin-top: 20px;
  border-bottom: gray solid 1px;
}

/* 주요 출연진 */
.people {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.peopleCard {
  background-color: aqua;
  min-width: 120px;
}

/* 댓글창 */
.movieCommentContainer {
  width: 70%;
  margin: auto;
}

.movieCommentName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
}

.movieCommentName2 {
  font-size: 20px;
  margin-right: 5px;
}

.movieCommentName3 {
  font-size: 15px;
}

.formContainer {
  display: flex;
  margin-top: 10px;
}

.comment-name {
  width: 100px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.comment-pw {
  width: 100px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentBox {
  width: 80%;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentBtn {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 88, 202);
  color: white;
}

.commentContainer {
  margin-top: 20px;
}

/* 푸터 */
.footerHead {
  margin-top: 30px;
  border-top: solid;
}

.footerMain {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.userID {
  font-weight: bold;
  margin-bottom: 5px;
}

.userComment {
  margin-bottom: 3px;
}

.userCommentBox {
  display: flex;
  justify-content: space-between;
  border-bottom: gray solid 1px;
}

.commentDlePW {
  width: 100px;
  height: 30px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentDleBtn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 88, 202);
  color: white;
  margin-left: -5px;
}

.movie-comment {
  display: flex;
}
