/* header 부분 */
header {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 3rem !important;
}

h1.headerName {
  padding-left: 130px;
}

form {
  margin-top: 50px;
}

/* header 버튼 */
button.search-btn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #0000;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em 0.4em;
  font-weight: bold;
  min-height: 3rem;
}

button.search-btn:hover {
  background-color: white;
  transition: all 0.2s ease 0s;
  color: black;
}
.main-return {
  cursor: pointer;
}

/* 헤더 검색창 */
.search-input {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
  margin: 0.5rem;
  outline: none;
  transition: 0.1s;
  background-color: black;
  color: white;
}

input::placeholder {
  color: white;
  font-size: 16px;
}

.search-input:hover {
  border: 1.5px solid hsla(0, 0%, 50%);
  box-shadow: 0 0 0.2rem 0.2rem hsla(0, 0%, 50%, 0.6);
}

/* 영화소개 */
.movieContainer {
  width: 70%;
  margin: auto;
}

.movieDetail {
  display: flex;
  margin-top: 20px;
}

.movieImage {
  width: 300px;
  height: 450px;
}

.movieDetailDetail {
  margin-left: 30px;
}

.movieTitle {
  font-size: xx-large;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.movieTitle2 {
  margin-bottom: 40px;
  font-size: x-large;
  font-weight: bold;
}

.movieGenre,
.movieTime,
.movieOpen,
.movieVote,
.movieBudget {
  font-size: large;
  margin-bottom: 30px;
}

.movieRevenue {
  font-size: large;
}

/* 영화줄거리 */
.moviePlot {
  margin-top: 20px;
  border-bottom: gray solid 1px;
  line-height: 28px;
  padding-bottom: 20px;
}

/* 주요 출연진 */
.people {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.peopleCards {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 5px;
}

.peopleCards::-webkit-scrollbar {
  height: 10px;
}

.peopleCards::-webkit-scrollbar-thumb {
  height: 30%;
  background: rgba(178.5, 178.5, 178.5, 1);
  border-radius: 5px;
}

.peopleCards::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

.peopleCard2 {
  width: 140px;
  height: 180px;
  padding: 2px;
}

.peopleName {
  max-width: 130px;
  margin-top: 5px;
  text-align: center;
  word-wrap: break-word;
}

/* 댓글창 */
.movieCommentContainer {
  width: 70%;
  margin: auto;
}

.movieCommentName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 20px;
}

.movieCommentName2 {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}

.movieCommentName3 {
  font-size: 15px;
}

.formContainer {
  display: flex;
  margin-top: 10px;
}

.comment-name {
  width: 100px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.comment-pw {
  width: 100px;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentBox {
  width: 80%;
  height: 35px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentBtn {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 88, 202);
  color: white;
}

.comment-cancel {
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: rgb(177, 13, 13);
  color: white;
  margin-left: 5px;
}

/* 생성된 댓글 */
.commentContainer {
  margin-top: 20px;
}

.userID {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 18px;
}

.userComment {
  font-size: 18px;
}

.userCommentBox {
  display: flex;
  justify-content: space-between;
  border-bottom: rgb(128, 128, 128) solid 1px;
}

.commentDlePW {
  width: 80px;
  height: 25px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  outline: none;
  border: none;
  padding-left: 10px;
  margin-right: 5px;
}

.commentDleBtn,
.comment-update-btn {
  width: 55px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 88, 202);
  color: white;
  margin-right: 5px;
}

.movie-comment {
  display: flex;
  border-bottom: rgb(231, 231, 231) solid 1px;
  align-items: flex-end;
  margin-bottom: 5px;
  justify-content: space-between;
}

.userIDComment {
  display: flex;
}

.comment-update-btn {
  width: 60px;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: rgb(10, 88, 202);
  color: white;
}

/* footer 부분 */
footer {
  width: 100%;
  background-color: black;
  margin-top: 70px;
}

.container-footer {
  display: flex;
  padding: 3rem;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 17px;
  padding-left: 24%;
  line-height: 1.5rem;
}

.footer-logoimg {
  opacity: 0.6;
}
