.headerName {
  font-size: 60px;
}

.search-input {
  width: 400px;
  height: 50px;

  border-radius: 5px;

  outline: none;
}

.row {
  margin-top: 20px;
}

.btnbtn {
  display: flex;
  justify-content: center;
}

.card-img-top {
  padding: 10px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  line-height: 25px;
  margin-top: 20px;
}

.card-text2 {
  margin-top: 20px;
}

.search-form {
  display: inline;
}
