.row {
  margin-top: 20px;
}

.btnbtn {
  display: flex;
  justify-content: center;
}

.card {
  height: 100%;
}

.card-img-top {
  padding: 10px;
  border-radius: 15px;
  height: 80%;
}

.card:hover {
  transform: scale(0.98);
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  font-size: 20px;
}

.card-text {
  line-height: 25px;
  margin-top: 20px;
}

.card-text2 {
  margin-top: 20px;
}

/* footer */
footer {
  width: 100%;
  background-color: black;
  margin-top: 70px;
}

.container-footer {
  display: flex;
  padding: 3rem;
  align-items: center;
}

.footer-text {
  color: white;
  text-align: center;
  font-size: 17px;
  padding-left: 24%;
  line-height: 1.5rem;
}

.footer-logoimg {
  opacity: 0.6;
}

/* header */
header {
  width: 100%;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 3rem !important;
}

h1.headerName {
  padding-left: 130px;
}

form {
  margin: 50px 0 0 10px;
}

/* header 버튼 */
button.search-btn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: #0000;
  color: white;
  font-size: 1.2rem;
  padding: 0.6em 0.4em;
  font-weight: bold;
  min-height: 3rem;
}

button.search-btn:hover {
  background-color: white;
  transition: all 0.2s ease 0s;
  color: black;
}

.main-return {
  cursor: pointer;
}

/* header 검색창 */
.search-input {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid #f9f9f9;
  margin: 0.5rem;
  outline: none;
  transition: 0.1s;
  background-color: black;
  color: white;
  margin-bottom: 11px;
}

.search-input::placeholder {
  color: white;
  font-size: 16px;
}

.search-input:hover {
  border: 1.5px solid hsla(0, 0%, 50%);
  box-shadow: 0 0 0.2rem 0.2rem hsla(0, 0%, 50%, 0.6);
}

.search-err {
  color: red;
  margin-left: 19px;
  font-weight: bold;
}

/* 정렬 selector */
.form-select {
  width: 100px;
  margin-top: 20px;
  border: 1px solid black;
}

.sort-select {
  display: flex;
  justify-content: flex-end;
}

/* 페이지 이동 연습용 */
/* .test {
  display: flex;
  justify-content: center;
} */

.pagination-container {
  display: flex;
  justify-content: center;
}

.number-button {
  margin: auto 10px auto 10px;
}
